<html>
   <body>
      
      <form action = "{{ url_for('addrec') }}" method = "POST">
         <h3>Enter Id to update employee data</h3>
         Id<br>
         <input type = "int" name = "id" /></br>
        
         Name<br>
         <input type = "text" name = "nm" /></br>
         
         Salary<br>
         <input type = "real" name = "salary" /></br>
        
         Email<br>
         <input type = "text" name = "email" /><br>
         
         Course<br>
         <input type = "text" name = "course" /></br>
      
         <input type = "submit" value = "submit" /><br>
      </form>
      
   </body>
</html>