<!DOCTYPE html>

<html lang="en">
    <table>
        <thead>
            <meta charset="UTF-8" />
            <meta name="viepoint" content="width=device-width,initial-scale=1.0">
        </thead>
        <h1>Employee details</h1>
        <tbody>
            <table>
                <tr>
                    <th>  e_id  </th>
                    <th>  e_name  </th>
                    <th>  e_salary  </th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Varun</td>
                    <td>25000</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Arun</td>
                    <td>35000</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Tharun</td>
                    <td>55000</td>
                </tr>
            </table>
        </tbody>
    </table>
</html>